<table border="1" cellspacing="1" cellpadding="5">
   <tr>
		<td>Listen name</td>
		<td>Full Qualified Domain Name</td>
	    <td>Anzahl Nutzer</td>
		<td>Einschreiben</td>	
   </tr>
	<f:for each="{list.allMailinglists.entries}" as="mailinglist">
		<tr>
			<td align="top">{mailinglist.display_name}</td>	
         	<td align="top">{mailinglist.fqdn_listname}</td>
			<td align="top">{mailinglist.member_count}</td>
			<td>


				<f:if condition="{mailinglist.userInList}">
					<f:then>
						<f:link.action action="unsubscribe" controller="MailmanExt" arguments="{fqdn_listname: '{mailinglist.list_id}'}">unsubscribe</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="subscribe" controller="MailmanExt" arguments="{fqdn_listname: '{mailinglist.list_id}'}">subscribe</f:link.action>
					</f:else>
				</f:if>



			</td>
		</tr>
	</f:for>
</table>



<f:debug>{list}</f:debug>

